
/* HTML Elements */
body {
    background-color: #E6E6E6;
}
input{
    height: 30px;
}
ul.nav li a, ul.nav li a:visited {
    color: #6d7275 !important;
}
ul.nav li a:hover, ul.nav li a:focus {
    color: #46979C !important;
}
ul.nav li.active a {
    color: #333 !important;
}
select.form-control {
    border: 1px solid #E6E6E6 !important;
    font-size: 110%;
    height: 35px;
    line-height: 30px;

}

.nav_topmenu_bar {
    background-color: #FFFFFF;
}

/** HTML Elements **/

.btn-primary{
    background-color: #62BABF !important;
}

@media {
    .side-nav {
        position: fixed;
        top: 111px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        font-size: 16px;
        background-color: #E6E6E6;
        bottom: 0;

        padding-bottom: 40px;
        padding-top: 25px;
        z-index: -1;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover{
        background-color: #E6E6E6 !important;
        color: #333 !important;
        font-weight: 400;
    }
    .side-nav li a:focus {
        outline: none;
        background-color: #D6D5D5 !important;
        font-weight: 400;
    }
}

.kinda_bar {
    background-color:#565a5c;
    position: fixed;
    top: 60px;
    left: 0px;
}
.side-selected {
        outline: none;
        background-color: #C3C0C0 !important;

}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;

}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Create Route */

.create_route_div {
    background-color: #FFFFFF;
    top: 110px;
    left: 225px;
    overflow-y: auto;
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    display: block;
    z-index: -1

}


/* Infobox */
.ribbon {
    width: 350px;
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ribbon h3 {
    display: block;
    height: 30px;
    line-height: 0.8;
    width: 360px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;

    background: #337AB7;
    background: linear-gradient(top, #383838 0%, #262626 100%);

    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon h3::before,
.ribbon h3::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;
}
.ribbon h3::before {left: 0;}
.ribbon h3::after {right: 0;}

/* Bootstrap Elements */

.control-label {
    color: #565a5c !important;
    font-size: 18px;
    font-weight: 400;
}


