<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block" style="margin-bottom: 80px;">
        <label  class="control-label label_color col-lg-12 col-md-12 col-sm-12 col-xs-12">Accomodation Type</label>
                <select  class="form-control">
                    <option value="" disabled selected>Select your accomodation type</option>
                    <option>&nbsp;&nbsp;Hotel</option>
                    <option>&nbsp;&nbsp;Hostel</option>
                    <option>&nbsp;&nbsp;Camping</option>
                    <option>&nbsp;&nbsp;Home Rental</option>
                    <option>&nbsp;&nbsp;Couchsurfing</option>
                </select>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="control-label label_color">Name</label>
                <input class="form-control"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="control-label label_color ">star</label>
                <input class="form-control"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="control-label label_color ">Budget</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label label_color ">Comment</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
        <div class="row">
            <div>
                <button ng-click="next_tab()" type="button" class="btn btn-primary pull-right next_button">Next</button>
            </div>

        </div>
</div>