<div class="kinda_bar navbar col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="init()">

    <div class="step_buttons">
        <button ng-repeat="city in route.cities" ng-click="changeCity(city)" ng-class="{active : isCitySelected(city.id)}" type="button" class="btn btn-primary outline btn_top btn-arrow-right">{{city.name}}</button>
        <button ng-click="saveRoute()" type="button" class="btn btn-primary">Save</button>
    </div>

</div>
<div class="form-group">
    <div >
        <ul class="nav navbar-nav side-nav col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <li ng-click="set_right_navbar(placeTypes.accomodation)" ng-class="{'active':get_right_navbar() == placeTypes.accomodation }"><a href=""><i class="fa fa-fw fa-home"></i>Accomodation</a></li>
            <li ng-click="set_right_navbar(placeTypes.food)" ng-class="{'active':get_right_navbar() == placeTypes.food }"><a href=""><i class="fa fa-fw fa-cutlery"></i>Food</a></li>
            <li ng-click="set_right_navbar(placeTypes.nightlife)" ng-class="{'active':get_right_navbar() == placeTypes.nightlife }"><a href=""><i class="fa fa-fw fa-glass"></i>Nightlife</a></li>
            <li ng-click="set_right_navbar(placeTypes.entertainment)" ng-class="{'active':get_right_navbar() == placeTypes.entertainment }"><a href=""><i class="fa fa-fw fa-paint-brush"></i> Entertainment & Arts</a></li>
            <li ng-click="set_right_navbar(placeTypes.architecture)" ng-class="{'active':get_right_navbar() == placeTypes.architecture }"><a href=""><i class="fa fa-fw fa-university"></i> Architecture</a></li>
            <li ng-click="set_right_navbar(placeTypes.outdoor)" ng-class="{'active':get_right_navbar() == placeTypes.outdoor }"><a href=""><i class="fa fa-fw fa-bicycle"></i> Outdoor</a></li>

        </ul>
    </div>
    <div class="row">
        <div class="form-group create_route_div  fixed-width col-lg-6 col-md-6 col-sm-6 col-xs-6" >
            <ui-gmap-google-map control='map.control' center="map.center" zoom='map.zoom'>
                <ui-gmap-search-box options="map.searchbox.options" template="map.searchbox.template" events="map.searchbox.events" position="map.searchbox.position"></ui-gmap-search-box>
                <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" templateUrl="map.window.templateUrl" templateParameter="map.window.templateParameter" closeClick="map.window.closeClick()">
                </ui-gmap-window>
                <ui-gmap-markers idkey="marker.id" models="map.markers" coords="'self'" doCluster="false" fit="'true'" icon="'icon'" events="map.markersEvents" options="'options'"></ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
        <!--div ng-include src="get_partial()"></div-->
    </div>
</div>