<form>
  <div class="form-group">
    <label>Rating</label>
    <input type="text" class="form-control" value="{{parameter.rating}}" ng-model="parameter.rating" ng-blur="$parent.$parent.savePlaceRating()" />
  </div>
  <div class="form-group">
    <label>Budget</label>
    <input type="text" class="form-control" value="{{parameter.budget}}" ng-model="parameter.budget" ng-blur="$parent.$parent.savePlaceBudget()" />
  </div>
  <div class="form-group">
    <label>Comment</label>
    <!--input type="text" class="form-control" value="{{parameter.comment}}" ng-model="parameter.comment" ng-blur="$parent.$parent.savePlaceComment()" /-->
    <textarea maxlength="255" rows="4" cols="20" class="form-control" value="{{parameter.comment}}" ng-model="parameter.comment" ng-blur="$parent.$parent.savePlaceComment()" />
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="#" ng-click="$parent.$parent.removeMarker()">Remove Marker</a>
    </div>
  </div>
</form>