<div class="container">

    <div ng-repeat="route in routes" class="columns raw">

        <div class="col-md-4">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <div class="media">
                        <a href="" class="pull-left">
                            <img src="http://placehold.it/18x18" class="profile-image img-circle">
                        </a>
                        <div class="media-body">
                           <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                           <a href="">{{route.owners[0].username}}</a>
                           <span>on {{route.created}}</span>
                       </div>
                    </div>
                </div>


                <ui-gmap-google-map control='route.map.control' center="route.map.center" zoom='route.map.zoom'>
                    <ui-gmap-markers idkey="route.marker.id" models="route.map.markers" coords="'self'" doCluster="false" fit="'true'" icon="'icon'"></ui-gmap-markers>
                </ui-gmap-google-map>

                <div class="panel-footer text-muted">
                    <a href="route/{{ route.id }}">{{route.title}}</a>
                    <a href="route/create/{{ route.id }}" style="float:right;">Edit</a>
                </div>

            </div>
        </div>
    </div>
</div>